@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Extrabold.eot'),
         url('../fonts/Gilroy-Extrabold.woff'),
         url('../fonts/Gilroy-Extrabold.woff2');
    font-weight: 900;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot'),
         url('../fonts/Gilroy-Bold.woff'),
         url('../fonts/Gilroy-Bold.woff2');
    font-weight: bold;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Semibold.eot'),
         url('../fonts/Gilroy-Semibold.woff'),
         url('../fonts/Gilroy-Semibold.woff2');
    font-weight: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
