@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot'),
         url('../fonts/Gilroy-Bold.woff'),
         url('../fonts/Gilroy-Bold.woff2');
    font-weight: bold;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Semibold.eot'),
         url('../fonts/Gilroy-Semibold.woff'),
         url('../fonts/Gilroy-Semibold.woff2');
    font-weight: normal;
}
.font-stroke{
    font-family: 'Gilroy';
    font-weight: normal;
    color: #fff;
    -webkit-text-stroke: 1.5px rgba(0,0,0,1);
    -webkit-text-fill-color: rgba(0,0,0,0);    
}
